
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #e6e5e5; 
}


.fixed-height {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  min-height: 70vh; 
  margin-top: 50px;
  overflow: auto; 
  background-color: #ffffff; }


.text {
  text-align: center;
}


.title {
  padding: 20px;
  text-align: center;
}


.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}


.table-custom {
  width: 750px;
  background-color: #ffffff; 
  border-radius: 8px; 
  
}


.table tbody tr {
  border: 0px solid #9f9f9f; 
  box-shadow: #9f9f9f;
  
}


.table td {
  padding: 8px;
  text-align: left;
}


.arrow {
  cursor: pointer;
  color: black;
  font-size: 30px;
  user-select: none; 
}
