body {
  font-family: Arial, sans-serif;
  padding: 20px;
  
}

.text {
  text-align: center;
}

.title {
  padding: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.table-custom {
  width: 750px;
}

.table tbody tr {
  border: 1px solid #ddd; /* Border around each row */
}

.table td {
  padding: 8px; /* Padding inside each cell */
  text-align: left;
}

.arrow {
  cursor: pointer;
  color: black;
  font-size: 20px;
  user-select: none; /* Prevent text selection on double-click */
}
